@using Tirajii.Data.Models
@model Truck
<style>
      .meter { 
        height: 5px;
        position: relative;
        background: #f3efe6;
        overflow: hidden;
    }
    
    .meter span {
        display: block;
        height: 100%;
    }
    
    .progress {
        background-color: #001194;
        animation: progressBar 15s ease-in-out;
        animation-fill-mode:both; 
    }
    
    @@keyframes progressBar {
      0% { width: 0; }
      100% { width: 100%; }
    } </style>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img src="@Model.Picture" class="rounded border border-1 border-info" width="500" height="500" alt="~/img/missing.png">
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col">
                    <h5 class="text-start fw-bold text-primary">
                        Bought from: @Model.Company.Name
                        <span>
                            <img src="~/pictures/user-secret-solid.svg" width="20" heigth="20" class="img-fluid align-middle">
                        </span>
                    </h5>
                </div>
                <div>
                    <h2 class="text-start fw-bold mb-2">
                        @if (Model.Name is null)
                        {
                           <span class="align-middle"> 
                               Your Rusty Friend's Stats:
                           </span class="align-middle">
                        }
                        else
                        {
                            <span class="align-middle"> 
                               @Model.Name Stats:
                           </span class="align-middle">
                        }
                        <br />
                    </h2>
                    <hr />
                </div>
                @if (!Model.HasSpeakers)
                {
                   <h4>Has Speakers: <img src="~/pictures/xmark-solid.svg" width="20" height="20" /> </h4>
                   <h5 class="text-xl-end fw-bold mb-2">
                           <span class="align-middle"> 
                               Class: @ViewBag.Class
                           </span>
                    </h5>
                }
                else
                {
                   <h4>Has Speakers: <img src="~/pictures/check-solid.svg" width="20" height="20" /></h4>
                   <h5 class="text-xl-end fw-bold mb-2">
                           <span class="align-middle"> 
                               Class: @ViewBag.Class
                           </span>
                    </h5>
                }
                @if (!Model.HasBluetooth)
                {
                    <h4>Has Bluetooth: <img src="~/pictures/xmark-solid.svg" width="20" height="20" /> </h4>
                    <h5 class="text-xl-end fw-bold mb-2">
                           <span class="align-middle"> 
                               Reg. Number: @Model.RegistrationNumber
                           </span>
                    </h5>
                }
                else
                {
                    <h4>Has Bluetooth: <img src="~/pictures/check-solid.svg" width="20" height="20" /></h4>
                    <h5 class="text-xl-end fw-bold mb-2">
                           <span class="align-middle"> 
                               Reg. Number: @Model.RegistrationNumber
                           </span>
                    </h5>
                }
                @if (!Model.HasCDPlayer)
                {
                    <h4>Has CD player: <img src="~/pictures/xmark-solid.svg" width="20" height="20" /> </h4>
                    <h5 class="text-xl-end fw-bold mb-2">
                           <span class="align-middle"> 
                               Colour: @Model.Colour
                           </span>
                    </h5>
                }
                else
                {
                    <h4>Has CD player: <img src="~/pictures/check-solid.svg" width="20" height="20" /></h4>
                    <h5 class="text-xl-end fw-bold mb-2">
                           <span class="align-middle"> 
                               Colour: @Model.Colour
                           </span>
                    </h5>
                }
                @if (!Model.HasInstaBrakes)
                {
                    <h4>Has Instant brakes: <img src="~/pictures/xmark-solid.svg" width="20" height="20" /> </h4>
                    <h5 class="text-xl-end fw-bold mb-2">
                           <span class="text-white"> 
                           </span>
                    </h5>
                    <br />
                }
                else
                {
                    <h4>Has Instant brakes: <img src="~/pictures/check-solid.svg" width="20" height="20" /></h4>
                    <h5 class="text-xl-end fw-bold mb-2">
                           <span class="text-white"> 
                           </span>
                    </h5>
                    <br />
                }
                @if (!Model.HasParkTronic)
                {
                    <h4>Has Parktronic: <img src="~/pictures/xmark-solid.svg" width="20" height="20" /> </h4>
                    <br />
                }
                else
                {
                    <h4>Has Parktronic: <img src="~/pictures/check-solid.svg" width="20" height="20" /></h4>
                    <br />
                }
                <br/>
                    <div class="d-grid gap-2">
                        @if (Model.HasCDPlayer && Model.HasSpeakers && Model.HasBluetooth && Model.HasInstaBrakes && Model.HasParkTronic)
                        {
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" disabled>
                            Upgrade
                        </button>
                        }
                        else
                        {
                        <button type="button" onclick="DisableFor10Seconds();HideFor10Seconds();" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                            Upgrade
                        </button>
                        <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel1">Hold on tightly while engineers upgrade your truck...</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="meter">
                                            <span style="width:100%;"><span class="progress"></span></span>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <label id="su" class="align-content-lg-start">Upgrades are in place!</label>
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                                        <form method="post">
                                            <button id ="tryme" class="btn btn-primary" asp-route-id="@Model.Id" asp-area="" asp-action="Upgrade" asp-controller="Truck">Pay and upgrade for 6000 <img src="~/pictures/coin.png" width="30" height="30"/> ?</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                        <br />
                        <form method="get">
                            <div class="d-grid gap-2">
                                <button class="btn btn-warning" asp-route-id="@Model.Id" asp-area="" asp-action="Edit" asp-controller="Truck">Edit</button>
                                <br />
                            </div>
                        </form>
                    </div>
                    <form method="post">
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                          Sell
                        </button>
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Are you sure?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                You are about to sell your truck. Its price will be determined by our experts, and will be sold to e foreigner. Proceed?
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger" asp-area="" asp-action="Sell" asp-controller="Truck">Sell</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </form>
             </div>
         </div>
    </div>
</div>
<br/>
<br/>
<hr/>
<br />
<br />
<center><h1><i><b>Disclaimer: Truck buyers are picky, so if you want to sell your beast successfully, try to keep it clean and functional.</b></i></h1></center>
<script>
    function DisableFor10Seconds() {
        document.getElementById("tryme").disabled = true;
        setTimeout(function () { document.getElementById("tryme").disabled = false; }, 15000);
    }
    function HideFor10Seconds() {
        document.getElementById("su").hidden = true;
        setTimeout(function () { document.getElementById("su").hidden = false; }, 15000);
    }
</script>
@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}