@using Tirajii.Data.Models
@model IEnumerable<TruckOffer>
<style>
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
</style>
<div class="text-center row">

    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="@item.Truck.Picture" class="card-img-top" alt="Truck Picture">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-subtitle">Provided by: @item.Company.Name</p>
                <p class="card-text">Cost: @item.Cost</p>
                <p class="card-text">Description:</p>
                <p class="card-text">@item.Description</p>
                @if (!item.Truck.HasSpeakers)
                {
                   <p>Has Speakers: <img src="~/pictures/xmark-solid.svg" width="17" height="17" /> </p>
                }
                else
                {
                   <p>Has Speakers: <img src="~/pictures/check-solid.svg" width="17" height="17" /></p>
                }
                @if (!item.Truck.HasBluetooth)
                {
                    <p>Has Bluetooth: <img src="~/pictures/xmark-solid.svg" width="17" height="17" /> </p>
                }
                else
                {
                    <p>Has Bluetooth: <img src="~/pictures/check-solid.svg" width="17" height="17" /></p>
                }
                @if (!item.Truck.HasCDPlayer)
                {
                    <p>Has CD player: <img src="~/pictures/xmark-solid.svg" width="17" height="17" /> </p>
                }
                else
                {
                    <p>Has CD player: <img src="~/pictures/check-solid.svg" width="17" height="17" /></p>
                }
                @if (!item.Truck.HasInstaBrakes)
                {
                    <p>Has Instant brakes: <img src="~/pictures/xmark-solid.svg" width="17" height="17" /> </p>
                }
                else
                {
                    <p>Is Completed: <img src="~/pictures/check-solid.svg" width="17" height="17" /></p>
                }
                @if (!item.Truck.HasParkTronic)
                {
                    <p>Has Parktronic: <img src="~/pictures/xmark-solid.svg" width="17" height="17" /> </p>
                }
                else
                {
                    <p>Has Parktronic: <img src="~/pictures/check-solid.svg" width="17" height="17" /></p>
                }
                @if (ViewBag.User.Trucker.TruckId is null)
                {
                    <form method="post">
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Buy
                        </button>
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Buy this truck?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    @if (item.Name != null)
                                    {
                                        <div class="modal-body">
                                            Would you like to buy @item.Name?
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="modal-body">
                                            Would you like to buy this rusty beast?
                                        </div>
                                    }
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success" asp-route-truckid="@item.TruckId" asp-area="" asp-action="Purchase" asp-controller="Trucker">Buy</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                }
                else
                {
                    <button type="button" class="btn btn-outline-primary" onclick="myFunction();">Buy</button>
                    <form method="post">
                        <div id="snackbar">You cannot buy this truck, as you already own one. <a asp-action="Sell" asp-controller="Truck">Sell</a> yours first?</div>
                    </form>
                }
            </div>
        </div>
    }
</div>
<script>
    function myFunction() {
        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
    }
</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}