@using Tirajii.Data.Models
@model IEnumerable<TruckOffer>
<div class="text-center row">

    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="@item.Truck.Picture" class="card-img-top" alt="Truck Picture">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-subtitle">Provided by: @item.Company.Name</p>
                <p class="card-text">Cost: @item.Cost</p>
                <p class="card-text">Description:</p>
                <p class="card-text">@item.Description</p>
                @if (!item.Truck.HasSpeakers)
                {
                   <p>Has Speakers: <img src="~/pictures/xmark-solid.svg" width="17" height="17" /> </p>
                }
                else
                {
                   <p>Has Speakers: <img src="~/pictures/check-solid.svg" width="17" height="17" /></p>
                }
                @if (!item.Truck.HasBluetooth)
                {
                    <p>Has Bluetooth: <img src="~/pictures/xmark-solid.svg" width="17" height="17" /> </p>
                }
                else
                {
                    <p>Has Bluetooth: <img src="~/pictures/check-solid.svg" width="17" height="17" /></p>
                }
                @if (!item.Truck.HasCDPlayer)
                {
                    <p>Has CD player: <img src="~/pictures/xmark-solid.svg" width="17" height="17" /> </p>
                }
                else
                {
                    <p>Has CD player: <img src="~/pictures/check-solid.svg" width="17" height="17" /></p>
                }
                @if (!item.Truck.HasInstaBrakes)
                {
                    <p>Has Instant brakes: <img src="~/pictures/xmark-solid.svg" width="17" height="17" /> </p>
                }
                else
                {
                    <p>Is Completed: <img src="~/pictures/check-solid.svg" width="17" height="17" /></p>
                }
                @if (!item.Truck.HasParkTronic)
                {
                    <p>Has Parktronic: <img src="~/pictures/xmark-solid.svg" width="17" height="17" /> </p>
                }
                else
                {
                    <p>Has Parktronic: <img src="~/pictures/check-solid.svg" width="17" height="17" /></p>
                }
                <form method="post">
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Buy
                    </button>
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Buy this truck?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                    @if (item.Name!=null)
                                    {
                                    <div class="modal-body">
                                        Would you like to buy @item.Name?
                                    </div>
                                    }
                                    else
                                    {
                                    <div class="modal-body">
                                        Would you like to buy this rusty beast?
                                    </div>
                                    }
                                    @if (ViewBag.User.Trucker.TruckId is not null)
                                    {
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-outline-success" asp-route-truckid="@item.TruckId" asp-area="" asp-action="Purchase" asp-controller="Trucker">Buy</button>
                                    </div>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="You already have a truck, you must sell it in order to buy this one">Buy</button>
                                    }
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    }
</div>