@using Tirajii.Data.Models
@model IEnumerable<Offer>
<div class="text-center row">
    <h2>My offers:</h2>
    <hr />
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <h6 class="card-subtitle">Reward: @item.Payment</h6>
                    <p class="card-text">Company: @item.Company.Name</p>
                    <p class="card-text">Due Date: @item.DueDate.ToString("dd/MM/yyyy")</p>
                    <p class="card-text">Category: @item.Category.Name</p>
                        <form method="get">
                            <button type="submit" class="btn btn-outline-primary" asp-area="" asp-route-offerId="@item.Id" asp-action="StartOffer" asp-controller="Trucker">Start</button>
                        </form>
                </div>
            </div>
        </div>
    }
</div>