@using Tirajii.Data.Models
@using Tirajii.Models.Trucker;
@using Tirajii.Models.Company;
@model IEnumerable<Truck>
<h1 class="text-center">Add an Offer!</h1>
<hr />
<br />
<div class="text-center row">
    @if (!Model.Any())
    {
        <h2>Looks like you dont have any spare trucks, how about you add one?</h2>
        <form method="get">
            <button asp-action="RegisterATruck" asp-controller="Company" class="btn btn-primary">Register a new truck</button>
        </form>
    }
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="@item.Picture" class="card-img-top" alt="Truck Image">
            <div class="card-body">
                <h5 class="card-title mt-1">@item.Name</h5>
                <p class="mb-0">Truck Colour: @item.Colour</p>
                <p>Truck Class: @item.Class.Name</p>
                <form method="get">
                    <button asp-route-id="@item.Id" asp-action="TruckOfferAdd" asp-controller="Company" class="btn btn-primary">Select</button>
                </form>
            </div>
        </div>
    }
</div>