@using Tirajii.Data.Models
@using Tirajii.Models.Trucker;
@using Tirajii.Models.Company;
@model IEnumerable<Offer>
<h1 class="text-center">Add an Offer!</h1>
<hr />
<br />
<div class="text-center row">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Reward: @item.Payment</h6>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text">Company: @item.Company.Name</p>
                    <p class="card-text">Due Date: @item.DueDate</p>
                    <p class="card-text">Category: @item.Category.Name</p>
                    <p class="card-text">Is Taken: @item.IsTaken</p>
                    <p class="card-text">Is Completed: @item.IsCompleted</p>
                    <p class="card-text">Is Approved: @item.IsApproved</p>
                </div>
            </div>
        </div>
    }
    <form>
        <button type="submit" class="btn btn-outline-primary" asp-area="" asp-action="OfferAdd" asp-controller="Company">Add more Offers</button>
    </form>
</div>